// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #8B5C7A;
$primary:         		$brand-primary;

$content: 				#192231;
$border: 				lighten($content,60%);

$wedgewood:				#41476B;
$cloud:					#98878F;
$athens:				lighten(#f1f1f2,3%);
$chalice:				#bcbbbb;