#main_logo {
	display: inline-block;
	vertical-align: middle;

	@media (max-width: $screen-xs-max) {
		width: 197px;
		height: 44px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 269px;
		height: 60px;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: 263px;
		height: 58px;
	}

	@media (min-width: $screen-lg-min) {
		width: 360px;
		height: 80px;
	}
}

.sub-meta-navigation {
	@include clear();
	@include stack();
	margin-top: 30px !important;
	display: inline-block;
	width: 100%;

	@media (max-width: $screen-xs-max) {
		display: none;
	}

	li {
		margin-right: 40px;
		display: inline-block;
		vertical-align: middle;
		@include calc(width, "(100% / 3) - 35px");

		&:last-of-type {
			margin-right: 0 !important;
		}

		a {
			font-size: 13px;
    		color: $content;
		}
	}
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 0;
	z-index: 120;

	#menu_toggle {

		@media (max-width: $screen-sm-max) { 
			position: relative;
			z-index: 2;
			-webkit-transition: margin-top ease 350ms;
			transition: margin-top ease 350ms;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
			margin-right: 30px;

			.icon-container {
				display: inline-block;
				vertical-align: middle;
			}

			&:hover {
				span {
					@include animation();

					background: $primary;

					&:before, &:after {
						background: $primary;
						@include animation();
					}
				}
			}

			span {	
				cursor: pointer;
				top: 0;
				height: 2px;
				width: 25px;
				background-color: $content;
				display: block;
				content: "";
				position: relative;
				@include animation();

				&:before {
					height: 2px;
					width: 25px;
					background-color: $content;
					display: block;
					content: "";
					top: -6px;
					position: relative;
					@include animation();
					cursor: pointer;
				}

				&:after {
					top: 4px;
					height: 2px;
					width: 25px;
					background-color: $content;
					display: block;
					content: "";
					position: relative;
					@include animation();
					cursor: pointer;
				}
			}
		}

		@media (min-width: $screen-md-min) {
			display: none;
		}
	}
}


#primary_navigation_desktop {
	
	.sub-menu {
		display: none !important;
	}

	ul {
		float: right;
		@include stack();
		@include clear();

		a, p {
			color: $content;
			text-transform: uppercase;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;
			text-transform: uppercase;
			-webkit-transition: all .1s ease-in-out;
			-o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
			cursor: pointer;
			font-size: 12px;
			line-height: 80px;
		}

		li {
			display: inline-block;
			vertical-align: middle;

			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				margin-left: 40px;
			}

			@media (min-width: $screen-lg-min) {
				margin-left: 60px;
			}
		}
	}
}