.post_sharing {
	text-align: center;

	@media (max-width: $screen-xs-max) {
		margin-top: 60px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		margin-top: 75px;
	}
	
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		margin-top: 80px;
	}

	@media (min-width: $screen-lg-min) {
			margin-top: 100px;
	}

	h5 {
		margin: 0;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 11px;
	}

	.fa {
		color: $content;
		font-size: 25px;
		@include animation();
	}

	ul.social-media {
		@include clear();
		@include stack();

		li {
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px;

			&:hover {
				.fa {
					color: $primary;
					@include animation();
				}
			}

			&:first-of-type {
				margin: 0 0 30px 0 !important;
				width: 100% !important;
			}
		}
	}
}

#tags {
	@include clear();
	@include stack();
	border-top: 1px solid #E1E0E1;

	@media (max-width: $screen-xs-max) {
		margin-top: 30px !important;
		padding-top: 30px !important;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		margin-top: 45px !important;
		padding-top: 45px !important;
	}
	
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		margin-top: 50px !important;
		padding-top: 50px !important;
	}

	@media (min-width: $screen-lg-min) {
		margin-top: 70px !important;
		padding-top: 70px !important;
	}

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;

		a {
			font-style: italic;
			font-size: 13px;
			color: lighten($content,5%);

			&:hover {
				color: $wedgewood;
			}
		}
	}
}

.floating-back {
	position: fixed;
    top: 300px;
    opacity: 1;
    @include animation();

    &.hasScrolled {
    	opacity: 0;
    	@include animation();
    }

    @media (min-width: $screen-md-min) {
    	left: 0;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    	left: -25px;
    }

    @media (max-width: $screen-xs-max) {	
    	display: none;
    }

	z-index: 90;
	font-family: 'Source Sans Pro', sans-serif;
	color: $content;
	font-size: 15px;
	font-weight: 400;
	 -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.base-image {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin-bottom: 40px;
	overflow: hidden;
	background: $primary;
	
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);

	@media (min-width: $screen-sm-min) {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
		border-radius: 5px;
	}

	@media (min-width: $screen-sm-min) {
		margin-top: -150px;
	}

	img {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
	}

	.image_credit {
		position: absolute;
		bottom: 20px;
		right: 30px;
		color: white;
		font-family: 'Source Sans Pro', sans-serif;
		text-tranform: uppercase;
		font-size: 11px;
	}
}

body.single {
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		#body {
			.col-sm-12.post-single {
				width: 75%;
				float: none;
				margin: 0 auto;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		#body {
			padding-top: 0 !important;
		}
	}
		
	.post-single {
		ul, ol {
			@include clear();
			@include stack();
			margin-bottom: 30px !important;

			li {
				position: relative;
				padding: 10px 0 10px 35px;

				&:before {
				    content: "\f0c8";
				    font-family: FontAwesome;
				    font-style: normal;
				    font-weight: normal;
				    text-decoration: inherit;

				    color: $primary;
				    font-size: 14px;
				    padding-right: 0.5em;
				    position: absolute;
				    top: 13px;
				    left: 0;
				}
			}
		}
	}

	header.post {
		background: $athens;
		@include content_padding();
		text-align: center;
		margin-top: 85px;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			padding-bottom: 125px !important;
		}

		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			padding-bottom: 120px !important;
		}

		@media (min-width: $screen-lg-min) {
			padding-bottom: 100px !important;
		}

		.meta-block {
			margin-bottom: 20px;
		}

		.meta-data {
			display: inline-block;
			vertical-align: middle;
			
			@media (max-width: $screen-xs-max) {
				@include calc(width, "(100% / 2) - 30px");
			}
		}
	}

	.pretty-embed {
		&:after {
			background-image: url('../images/play_button.png') !important;
		}
	}

	.post_gallery {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		margin-bottom: 40px;
		overflow: hidden;
		background: $primary;

		@media (min-width: $screen-sm-min) {
			margin-top: -150px;
		}

		.slick-list, .slick-track {
			@include clear();
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.post_video {
		iframe {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}


	.post_video, .post_image {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		margin-bottom: 40px;
		overflow: hidden;
		background: $primary;
		
		box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);

		@media (min-width: $screen-sm-min) {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
			border-radius: 5px;
		}

		@media (min-width: $screen-sm-min) {
			margin-top: -150px;
		}

		img {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
		}

		.image_credit {
			position: absolute;
			bottom: 20px;
			right: 30px;
			color: white;
			font-family: 'Source Sans Pro', sans-serif;
			text-tranform: uppercase;
			font-size: 11px;
		}
	}
}